@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.header {
  //height: 80px;
  background-color: $white-color;
  @include clear-fix();
}

.title_wrapper {
  padding: 15px 0 15px 10px;
}
.icon {
  height: 35px;
}
.title {
  margin-left: 10px;
  font-size: 20px;
  line-height: 35px;
  vertical-align: top;
}
.menu {
  border-bottom: none;
  height: 70px;
  float: right;
  :global {
    .ant-menu-item {
      border-bottom: none;
      height: 70px;
      line-height: 70px;
      a {
        color: $theme-green-color;
        font-size: 14px;
        font-family: $theme-font-family;
        //font-weight: $font-weight-semi-bold;

      }

      &.ant-menu-item-active {
        border-bottom: none;
        background-color: lighten($green-color-light, 10%);
      }
      &.ant-menu-item-selected {
        border-bottom: none;
        background-color: lighten($green-color-light, 3%);
      }
    }
  }
}
