@import "./assets/scss/mixin";
@import "./assets/scss/variables";
@import "./assets/scss/base";

:global {
  .container {
    width: 960px;
    margin: 0 auto;
  }

  @media (max-width: 960px) {
    .container {
      width: 100%;
    }
  }

}

